ADMIN_EMAIL=
AUTH_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
DATABASE_URL=
DIRECT_URL=
EMAIL_FROM=
EMAIL_FROM_NAME=
EMAIL_PROVIDER=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_URL=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_URL=
RATE_LIMIT_PROVIDER=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
SMTP_HOST=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
STORAGE_PROVIDER=
UPLOADTHING_APP_ID=
UPLOADTHING_SECRET=